.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #6b727a;
    color:#FFF;
    cursor:pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-box-shadow: 3px 5px 22px 10px #000000; 
    box-shadow: 3px 5px 22px 10px #000000;
    padding: 8px;
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon:hover{
    transform: scale(1.10);
}


.listagem .pokemon.ativo{
    background-color: red;
}